#right {
	width: 75%;
	height: 100%;
	float: right;
}

#left {
	width: 20%;
	height: 100%;
	float: left;
	overflow-y: scroll;
}

#time_domain {
	
}

#freq_domain {
	
}

.plot {
	width: 100%;
	height: 40%;
}